@font-face{
    font-family: 'Gilroy-ExtraBold';
    src: url(../fonts/Gilroy/Radomir\ Tinkov\ -\ Gilroy-ExtraBold.otf);
}
@font-face{
    font-family: 'Gilroy-Light';
    src: url(../fonts/Gilroy/Radomir\ Tinkov\ -\ Gilroy-Light.otf);
}
@font-face{
    font-family: 'HeliosCond';
    src: url(../fonts/HeliosCond/HeliosCond.otf);
}