@import 'bootstrap.css';
@import 'icon.css';
@import 'fonts.css';
:root{
    --gb:'Gilroy-ExtraBold';
    --gl: 'Gilroy-Light';
    --hel: 'HeliosCond';
    --blue: #134c9d;
    --dark: #000000;
    --gray: #8a8a8a;
    --light_gray: #f2f2f2;
    --shadow_gray: #dbdbdb;
    --white: #ffffff;
    --yellow: #feca0a;  
}
*,a,p,h1,h2,h3,h4,h5,h6,ul{
margin: 0;
padding: 0;
list-style: none;
text-decoration: none;
}
a:hover{
    text-decoration: none;
}
img{
    width: 100%;
    height: auto;
}

